<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbdr.mapper.UserMapper">

    <resultMap id="userMap" type="com.dbdr.domain.User">
        <id property="id" column="id"/>
        <result property="password" column="password"/>
        <collection property="roles" column="id" select="getRoleByUserId" javaType="java.util.ArrayList"/>
    </resultMap>

    <select id="findByUserId" resultMap="userMap">
        select * from user where id = #{value}
    </select>

    <insert id="insertUser" parameterType="com.dbdr.domain.User">
        insert user(id,password)  values (#{id},#{password});
    </insert>

    <update id="modifyUser" parameterType="com.dbdr.domain.User">
        update user set password = #{password}
    </update>

    <select id="getRoleByUserId" parameterType="string" resultType="string">
        select role from user_role where user_id=#{value}
    </select>
</mapper>